            p {
                font-family: monterserrat;
                margin-bottom: 0;
            }

            .text-title {
                font-size: 24px;
                text-align: center;
            }

            .text-description {
                font-size: 16px;
                text-align: center;
                margin-top: 10px;
            }